.header__lang-link {
    font-size: 24px;
    line-height: 28px;
    font-size: normal;
    text-decoration: none;
    color: #fff;
    transition:  opacity 0.3s ease, color 0.2s;
    -webkit-transition: opacity 0.3s ease, color 0.2s;
}

.header__lang-link:hover {
    opacity: .8;
}

.header__lang-link:first-of-type {
    margin-right: 18px;
}