.place__paragraf {
    font-size: 18px;
    line-height: 30px;
    margin: 0 0;
}


.place__paragraf:last-of-type {
    margin-top: 24px;
}


@media screen and (max-width: 768px) {
    .place__paragraf  {
        font-size: 16px;
        line-height: 26px;
    }
}

