@font-face {
    font-family: 'Inter';
    src: url(../../fonts/Inter-Regular.woff);
    font-weight: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url(../../fonts/Inter-Bold.woff);
    font-weight: bold;
  }

.page {
    background-color: #2A2C2F;
    font-family: Inter, Helvetica, sans-serif;
    min-width: 320px;
    color: #fff;
    padding-top: 28px;
}
