.cover__subtitle {
    font-size: 18px;
    width: 360px;
    margin: 0 auto 0;
    line-height: 22px;
    padding: 0 0;
    z-index: 10;
    color: #fff;
    margin-top: 32px;
}


@media screen and (max-width: 640px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        width: 288px;
        margin-top: 16px;
    }
}